<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found - David Weis</title>
    <link href="/build.css" rel="stylesheet">
    <script defer data-api="/api/event" data-domain="davidweis.eu" src="/js/script.file-downloads.outbound-links.js" nonce="{{nonce}}"></script>
    <script nonce="{{nonce}}">window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    <script nonce="{{nonce}}">document.addEventListener('DOMContentLoaded', function () { plausible('404', { props: { path: document.location.pathname } }); });</script>
</head>
<body class="min-h-screen">

    {{navbar}}

    <div class="relative">
        <img
        src="/media/eurasian_chaffinch_1280w.webp"
        class="relative h-96 w-full brightness-50 object-cover z-0"
        width="6000"
        height="4000"
        alt=""
        loading="eager"
        fetchpriority="high"
        sizes="100vw"
        srcset="
        /media/eurasian_chaffinch/eurasian_chaffinch_640w.webp 640w,
        /media/eurasian_chaffinch/eurasian_chaffinch_1280w.webp 1280w,
        /media/eurasian_chaffinch/eurasian_chaffinch_1920w.webp 1920w,
        /media/eurasian_chaffinch/eurasian_chaffinch_2560w.webp 2560w,
        /media/eurasian_chaffinch/eurasian_chaffinch_3840w.webp 3840w,
        /media/eurasian_chaffinch/eurasian_chaffinch_6000w.webp 6000w
        "
        />
        <div class="absolute z-10 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <h1 class="text-white text-center font-bold text-4xl">Page not found</h1>
        </div>
    </div>
    
    <div class="px-12 py-12 text-black text-center">
        <p>The page you are looking for cannot be found.</p>
        <br/>
        <a href="/" class="rounded-full bg-neutral-100 hover:bg-neutral-200 px-4 py-2">Homepage</a>
    </div>

    {{footer}}
</body>
</html>