<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candle - David Weis</title>
    <link rel="canonical" href="https://davidweis.eu/apps/candle"/>
    <link href="/build.css" rel="stylesheet">
    <script defer data-api="/api/event" data-domain="davidweis.eu" src="/js/script.file-downloads.outbound-links.js" nonce="{{nonce}}"></script>
    <script nonce="{{nonce}}">window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body class="min-h-screen">

    {{navbar}}

    <div class="relative">
        <img
        src="/media/candle/candle_on_phone/candle_on_phone_640w.webp"
        class="relative h-96 w-full brightness-50 object-cover z-0"
        width="6000"
        height="4000"
        alt=""
        loading="eager"
        fetchpriority="high"
        sizes="100vw"
        srcset="
        /media/candle/candle_on_phone/candle_on_phone_640w.webp 640w,
        /media/candle/candle_on_phone/candle_on_phone_1280w.webp 1280w,
        /media/candle/candle_on_phone/candle_on_phone_1920w.webp 1920w,
        /media/candle/candle_on_phone/candle_on_phone_2560w.webp 2560w,
        /media/candle/candle_on_phone/candle_on_phone_3840w.webp 3840w,
        /media/candle/candle_on_phone/candle_on_phone_6000w.webp 6000w
        "
        />
        <div class="absolute z-10 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <h1 class="text-white text-center font-bold text-4xl">Privacy</h1>
        </div>
    </div>
    
    <div class="py-12 px-12 mx-auto max-w-5xl text-center text-black">
        <p>
            A very simple app that allows you to use your display as a torch. The brightness can be adjusted and the app can be started from a quick settings tile.
        </p>
        <br class="block"/>
        <div class="flex flex-wrap gap-2 justify-center">
            <a href="https://f-droid.org/packages/com.elasticrock.candle/">
                <img
                src="/media/get-it-on-fdroid/get-it-on-fdroid_207w.webp"
                class="h-20 w-auto"
                loading="lazy"
                height="80"
                width="207"
                alt="Get it on FDroid"
                sizes="
                /media/get-it-on-fdroid/get-it-on-fdroid_207w.webp 1x,
                /media/get-it-on-fdroid/get-it-on-fdroid_414w.webp 2x
                "
                >
            </a>
            <a href="https://github.com/elastic-rock/Candle/releases/latest">
                <img
                src="/media/get-it-on-github/get-it-on-github_207w.webp"
                class="h-20 w-auto"
                loading="lazy"
                height="80"
                width="207"
                alt="Get it on GitHub"
                sizes="
                /media/get-it-on-github/get-it-on-github_207w.webp 1x,
                /media/get-it-on-github/get-it-on-github_414w.webp 2x
                "
                >
            </a>
        </div>
        <div class="flex flex-wrap gap-4 justify-center py-4">
            <img
            src="/media/candle/screenshot-app_256w.webp"
            class="w-64 h-auto"
            alt="Candle app screenshot"
            width="256"
            height="542"
            loading="lazy"
            sizes="
            /media/candle/screenshot-app_256w.webp 1x,
            /media/candle/screenshot-app_512w.webp 2x
            "
            >
        </div>
    </div>

    {{footer}}
</body>
</html>