<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - David Weis</title>
    <link rel="canonical" href="https://davidweis.eu/contact"/>
    <link href="/build.css" rel="stylesheet">
    <script defer data-api="/api/event" data-domain="davidweis.eu" src="/js/script.file-downloads.outbound-links.js" nonce="{{nonce}}"></script>
    <script nonce="{{nonce}}">window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body class="min-h-screen">

    {{navbar}}

    <div class="relative">
        <img
        src="/media/arrow_lux_640w.webp"
        class="relative h-96 w-full brightness-50 object-cover z-0"
        width="6000"
        height="4000"
        alt=""
        loading="eager"
        fetchpriority="high"
        sizes="100vw"
        srcset="
        /media/arrow_lux/arrow_lux_640w.webp 640w,
        /media/arrow_lux/arrow_lux_1280w.webp 1280w,
        /media/arrow_lux/arrow_lux_1920w.webp 1920w,
        /media/arrow_lux/arrow_lux_2560w.webp 2560w,
        /media/arrow_lux/arrow_lux_3840w.webp 3840w,
        /media/arrow_lux/arrow_lux_6000w.webp 6000w
        "
        />
        <div class="absolute z-10 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <h1 class="text-white text-center font-bold text-4xl">Contact</h1>
        </div>
    </div>
    
    <div class="px-12 py-12 text-black flex justify-center">
        <div>
            <p>If you wish to contact me, you can do so using one of the following encrypted methods below:</p>
            <br class="block"/>
            <ul class="list-disc list-inside">
                <li>
                    Email:&nbsp;
                    <a href="mailto:hi@davidweis.eu" class="hover:underline">hi@davidweis.eu</a> (<a href="/download/pubkey_hi@davidweis.eu.asc" class="hover:underline">PGP</a>)
                </li>
                <li>
                    Matrix:&nbsp;
                    <a href="https://matrix.to/#/@elasticrock:matrix.org" class="hover:underline">@elasticrock:matrix.org</a>
                </li>
                <li>
                    Signal:&nbsp;
                    <a href="https://signal.me/#eu/caBq8g9dFKBQGOV28qlTSX0LUalVwKZImzIshcx-s-diioxrnSlCXYiPyTqf4n4l" class="hover:underline">@ibex.07</a>
                </li>
            </ul>
        </div>
    </div>

    {{footer}}
</body>
</html>