<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Weis</title>
    <link rel="canonical" href="https://davidweis.eu/"/>
    <link href="/build.css" rel="stylesheet">
</head>
<body class="min-h-screen">

    {{navbar}}

    <div class="relative">
        <img
        src="/media/eigerexpress_fog/eigerexpress_fog_640w.webp"
        class="relative object-cover h-screen w-screen brightness-50 z-0"
        width="6000"
        height="4000"
        alt=""
        loading="eager"
        fetchpriority="high"
        sizes="100vw"
        srcset="
        /media/eigerexpress_fog/eigerexpress_fog_640w.webp 640w,
        /media/eigerexpress_fog/eigerexpress_fog_1280w.webp 1280w,
        /media/eigerexpress_fog/eigerexpress_fog_1920w.webp 1920w,
        /media/eigerexpress_fog/eigerexpress_fog_2560w.webp 2560w,
        /media/eigerexpress_fog/eigerexpress_fog_3840w.webp 3840w,
        /media/eigerexpress_fog/eigerexpress_fog_6000w.webp 6000w
        "
        />
        <div class="absolute z-10 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <h1 class="text-white text-center font-bold text-4xl">Hi, I'm David</h1>
            <br/>
            <p class="text-white text-center">I make photos, I play with computers, and I like cable cars.</p>
        </div>
    </div>

    <div class="px-12 py-12 mx-auto max-w-[88rem] text-center">
        <h1 class="text-black font-bold text-3xl">My Apps</h1>
        <p class="text-black py-4">To be a bit more specific, one of the things I do is program apps for Android. Here are a few I made.</p>
        <div class="flex flex-wrap gap-12 justify-center py-4">
            <div class="sm:flex gap-12 w-[36rem] sm:text-start">
                <img
                src="/media/keepscreenon/icon_144w.webp"
                class="h-36 w-36 rounded-3xl mx-auto"
                width="144"
                height="144"
                alt="KeepScreenOn Icon"
                loading="lazy"
                srcset="
                /media/keepscreenon/icon_144w.webp 1x,
                /media/keepscreenon/icon_288w.webp 2x
                "
                />
                <div class="max-sm:py-4">
                    <a href="/apps/keepscreenon" class="text-black font-bold text-xl hover:underline">KeepScreenOn</a>
                    <p class="text-black py-2">
                    Keep Screen On allows you to add a quick settings tile, with which you can easily disable screen timeout and then restore the previous timeout value.
                    </p>
                </div>
            </div>

            <div class="sm:flex gap-12 w-[36rem] sm:text-start">
                <img
                src="/media/candle/icon_144w.webp"
                class="h-36 w-36 rounded-3xl mx-auto"
                width="144"
                height="144"
                alt="Candle Icon"
                loading="lazy"
                srcset="
                /media/candle/icon_144w.webp 1x,
                /media/candle/icon_288w.webp 2x
                "
                />                
                <div class="max-sm:py-4">
                    <a href="/apps/candle" class="text-black font-bold text-xl hover:underline">Candle</a>
                    <p class="text-black py-2">
                        A very simple app that allows you to use your display as a torch. The brightness can be adjusted and the app can be started from a quick settings tile.
                    </p>
                </div>
            </div>
        </div>
        <br class="block"></br>
        <a href="/apps" class="rounded-full bg-neutral-200 hover:bg-neutral-300 px-4 py-2">Apps</a>
    </div>

    <div class="relative text-center">
        <img
        src="/media/eiger/eiger_640w.webp"
        class="-z-10 brightness-[.25] absolute inset-0 object-cover h-full w-full"
        alt=""
        width="6000"
        height="4000"
        loading="lazy"
        sizes="100vw"
        srcset="
        /media/eiger/eiger_640w.webp 640w,
        /media/eiger/eiger_1280w.webp 1280w,
        /media/eiger/eiger_1920w.webp 1920w,
        /media/eiger/eiger_2560w.webp 2560w,
        /media/eiger/eiger_3840w.webp 3840w,
        /media/eiger/eiger_6000w.webp 6000w,
        "
        >
        <div class="px-12 py-12 z-10 text-white mx-auto max-w-5xl">
            <h1 class="font-bold text-3xl">Capturing the world</h1>
            <p class="py-4">Appart from the above, I am very much into photography. You may see some of my work on the webpages of this site but also on the dedicated page.</p>
            <div class="py-4 gap-4 flex flex-wrap justify-center">
                <img src="/media/eiger/eiger_288w.webp" class="h-48 w-auto rounded-3xl" width="288" height="192" alt="Eiger in autumn" srcset="/media/eiger/eiger_288w.webp 1x, /media/eiger/eiger_576w.webp 2x" loading="lazy">
                <img src="/media/eurasian_chaffinch/eurasian_chaffinch_288w.webp" class="h-48 w-auto rounded-3xl" width="288" height="192" alt="Eurasian Chaffinch" srcset="/media/eurasian_chaffinch/eurasian_chaffinch_288w.webp 1x, /media/eurasian_chaffinch/eurasian_chaffinch_576w.webp 2x" loading="lazy">
                <img src="/media/snow_gun/snow_gun_288w.webp" class="h-48 w-auto rounded-3xl" width="288" height="192" alt="Snow gun above cloud-filled valley" srcset="/media/snow_gun/snow_gun_288w.webp 1x, /media/snow_gun/snow_gun_576w.webp 2x" loading="lazy">
                <img src="/media/girl_holding_phone/girl_holding_phone_288w.webp" class="h-48 w-auto rounded-3xl" width="288" height="192" alt="Person holding their phone above them whilst lying in bed" srcset="/media/girl_holding_phone/girl_holding_phone_288w.webp 1x, /media/girl_holding_phone/girl_holding_phone_576w.webp 2x" loading="lazy">
                <img src="/media/snow_cloud/snow_cloud_288w.webp" class="h-48 w-auto rounded-3xl" width="288" height="192" alt="Dramatic cloud during sunrise in the mountains" srcset="/media/snow_cloud/snow_cloud_288w.webp 1x, /media/snow_cloud/snow_cloud_576w.webp 2x" loading="lazy">
            </div>
            <br class="block"/>
            <a href="/photography" class="rounded-full border hover:border-2 hover:font-bold px-4 py-2 text-white">Photography</a>
        </div>
    </div>

    <div class="px-12 py-12 text-center mx-auto max-w-5xl">
        <h1 class="text-black font-bold text-3xl">A bit more about me</h1>
        <p class="text-black py-4">
            There won't be a lot here as I value my right to privacy. However, if I were to say something, appart from taking interest in the realm of online privacy, I enjoy nature, mountains, playing piano and guitar, and anything that has to do with computers.&#128579;
        </p>
    </div>

    <div class="px-12 py-12 text-center bg-neutral-100">
        <div class="mx-auto max-w-5xl">
            <h1 class="text-black font-bold text-3xl">Get in touch with me</h1>
            <p class="text-black py-4">Whetever the reason, if you have something to say, don't hesitate to contact me. I will try to get in touch with you as soon as possible.</p>
            <br class="block"></br>
            <a href="/contact" class="rounded-full bg-neutral-300 hover:bg-neutral-400 px-4 py-2">Contact</a>
        </div>
    </div>

    {{footer}}
</body>
</html>